{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Django Voting App!</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#votingplace"><strong>Voting App</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#result">Result</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#instructions">Instruction</a>
                    </li>
                    

                </ul>
            </div>

        </div>
    </nav>
    {% comment %} {{count}}
    {% for key,value in count.items %}
    <br>
    {{key}} - {{value}}
    {% endfor %} {% endcomment %}

    <div class="container">
        <div class="row" id="votingplace">
            <div class="col-md-6" style="margin : 1rem auto 0 auto;">
                <div class="card">
                    <img class="img-fluid" src="{% static 'vote.jpg'%}">
                    <div class="card-body">
                        <form method="GET" action="{% url 'getquery' %}">
                            <input list="languages" class="form-control" name="languages">
                            <datalist id="languages">
                                {% for language in arr %}
                                <option value="{{language}}">
                                    {% endfor %}
                            </datalist>

                            <div class="row">
                                <div class="col-md-6">
                                    <input type="submit" class="btn btn-success"
                                        style="display:block; margin:0 auto; margin-top:1rem;">
                                </div>
                                <div class="col-md-6">
                                    <!-- <input type="reset" class="btn btn-danger" style="display:block; margin:0 auto; margin-top:1rem"> -->
                                    <!-- <button style="margin : 1rem auto 0 auto " type="reset"
                                        class="btn btn-danger">Reset</button> -->
                                    <button style="display:block; margin:0 auto; margin-top:1rem" type="reset"
                                        class="btn btn-danger">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% comment %} <div class="row" id="voting">
            <div class="col-md-6" style="margin : 1rem auto 0 auto;">
                {% if error %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Error Occured!</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% elif error == False %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{q}} = {{ans}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
            </div>
        </div> {% endcomment %}

        <div class="row">
            <div class="col-md-6" style="margin: 2rem auto 0 auto;">
                <p class="badge bg-warning" id="result" name="result"
                    style="text-align:center;display:block; font-size:2rem;">
                    <b> Result </b>
                </p>
                <hr>
                <p>Result Table
                <a href = "{% url 'sortedpoll' %}" class="btn btn-primary">Sorting in Descending Order</a>
                 {% comment %} <button href="{% url 'sortedpoll' %}" style="display:block; margin:0 auto; margin-top:1rem" type="button"
                                        class="btn btn-primary">Sorting in Descending Order</button> {% endcomment %}
                </p>
                <div class="table-responsive">
                    <table class="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Language</th>
                                <th scope="col">Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key,value in count.items %}
                            <tr>
                                
                                <td>{{forloop.counter}}</td>
                                <td>{{key}}</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: {{value}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="50">{{value}}%</div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin: 2rem auto 0 auto;">
                <p class="badge bg-success" id="about" name="about"
                    style="text-align:center;display:block; font-size:2rem;">
                    <b> About </b>
                </p>
                <hr>
                <p class="lead" style="text-align:center;">
                    Pick your favourite Language and Vote
                </p>
                <hr>
            </div>
        </div>
        <div class="row" style=" padding-bottom: 20rem;">
            <div class="col-md-6" style="margin: 2rem auto 0 auto;">
                <p class="badge bg-danger" id="instructions" name="instructions"
                    style="text-align:center;display:block;font-size:2rem;">
                    <b>Instructions</b>
                </p>
                <hr>
                <p class="lead" style="text-align:center;">
                    Select your Language and see results
                </p>
                <hr>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <footer class="fixed-bottom navbar-light" style="background:Black; color:white; text-align:center;">
                <p style="margin-top:1rem ;">Thank You for using this site </p>

            </footer>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>